node_modules
.next
out
build
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
README.md
README-CN.md
.workbuddy
*.tsbuildinfo
next-env.d.ts
