.git
.github
.workbuddy
node_modules
.next
out
coverage
.chrome-executable-path
.chrome-executable-path
*.log
npm-debug.log*
.DS_Store
.env
.env.local
.env.*.local
README.md
README-CN.md
LICENSE
.vscode
.idea
